* {
  box-sizing: border-box;
}

body {
  background-color: #131223;
  color: #ffccff;
  margin: 5% auto;
  text-align: center;
  font-size: 16px;
  font-family: Georgia, sans-serif
}

a,
.youtube {
  color: white;
  text-decoration: none;
}

a:hover,
.youtube:hover {
  color: #ffccff;
  animation: 3s ease-in-out infinite linkfade
}

#navbar {
  position: fixed;
  top: 0%;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  background-color: #131223;
  padding: 2%;
  z-index: 1;
}

#navbar a {
  padding: 0 1%;
}

#navbar a:hover {
  color: #ffccff;
  transform: scale(1.2);
  animation: none;
}

#navbar a.active {
  color: #ffccff;
  transform: scale(1.2);
}

#navbar a.active:hover {
  animation: none;
  cursor: default;
}

#navbar a.active::after {
  content: "";
  border-bottom: 1px solid #ffccff;
  margin: 0 auto;
  animation: 1s ease-in-out underline;
  display: block;
}

#welcome-section {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  margin: 0 auto;
  color: white;
  border-bottom: 1px solid #ffccff;
  padding: 0 5%
}

p {
  word-spacing: 3px;
}

#projects-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px 10px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  max-width: 500px;
  position: relative;
}

.project-tile p {
  padding: 0 2%;
}

.github {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1%;
}

.youtube {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1%;
  background-color: #131223;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: Georgia, sans-serif;
}

.video {
  aspect-ratio: 16 / 9;
  border: none;
}

.tech {
  font-size: .8em;
  color: #ccc;
  opacity: .75;
  font-style: italic;
  margin: 0 auto 1%;
}

#contact {
  margin: 0 auto;
  height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact i {
  font-size: 3em;
  margin: 0 1em;
}

@media only screen and (max-width: 760px) {
  body {
    font-size: 14px;
    margin-top: 7%;
  }

  #projects-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 10px;
  }

  .project-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    max-width: 350px;
    position: relative;
  }
}

@keyframes linkfade {
  from {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes underline {
  from {
    border-bottom: 1px solid #ffccff;
    margin: 0 50%;
  }

  to {
    border-bottom: 1px solid #ffccff;
    margin: 0;
  }
}

@keyframes navline {
  0% {
    border-bottom: 1px solid rgba(255, 207, 255, .33)
  }

  10% {
    border-bottom: 1px solid rgba(255, 207, 255, .67);
    border-left: 1px solid rgba(255, 207, 255, .33)
  }

  20% {
    border-bottom: 1px solid rgba(255, 207, 255, 1);
    border-left: 1px solid rgba(255, 207, 255, .67);
    border-top: 1px solid rgba(255, 207, 255, .33);
  }

  30% {
    border-bottom: 1px solid rgba(255, 207, 255, .67);
    border-left: 1px solid rgba(255, 207, 255, 1);
    border-top: 1px solid rgba(255, 207, 255, .67);
    border-right: 1px solid rgba(255, 207, 255, .33)
  }

  40% {
    border-bottom: 1px solid rgba(255, 207, 255, .33);
    border-left: 1px solid rgba(255, 207, 255, .67);
    border-top: 1px solid rgba(255, 207, 255, 1);
    border-right: 1px solid rgba(255, 207, 255, .67)
  }

  50% {
    border-bottom: none;
    border-left: 1px solid rgba(255, 207, 255, .33);
    border-top: 1px solid rgba(255, 207, 255, .67);
    border-right: 1px solid rgba(255, 207, 255, 1)
  }

  60% {
    border-bottom: none;
    border-left: none;
    border-top: 1px solid rgba(255, 207, 255, .33);
    border-right: 1px solid rgba(255, 207, 255, .67)
  }

  70% {
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: 1px solid rgba(255, 207, 255, .33)
  }

  80% {
    border: none;
  }
}