* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #131223;
  color: #ffccff;
  margin: 5% auto;
  text-align: center;
  font-size: 16px;
  font-family: Georgia, sans-serif;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  margin: 0 auto;
  color: white;
  text-shadow: 0px 0px 5px #ffccff;
  padding: 1% 5%
}

p {
  word-spacing: 3px;
}

.secondary-paragraph {
  word-spacing: normal;
  font-size: .9em;
  margin: 0 auto;
}

a,
.youtube {
  color: white;
  text-decoration: none;
}

a:hover,
button:hover {
  color: #c100df;
  animation: 3s ease-in-out infinite linkfade
}

/* Nav Bar */
#navbar {
  position: fixed;
  top: 0%;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  background-color: #131223;
  padding: 1%;
  z-index: 998;
}

#navbar a {
  padding: 0 1%;
}

#navbar a:hover {
  color: #ffccff;
  transform: scale(1.2);
  animation: none;
}

#navbar a.active {
  color: #ffccff;
  transform: scale(1.2);
}

#navbar a.active:hover {
  animation: none;
  cursor: default;
}

#navbar a.active::after {
  content: "";
  border-bottom: 1px solid #ffccff;
  margin: 0 auto;
  animation: 1s ease-in-out underline;
  display: block;
}

/* Home page */
#about {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

#bio {
  width: 50%;
}

.bio-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 100%;
}

#extras {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Activity Log */
#activity-log {
  display: flex;
  max-width: 60%;
  max-height: 50vh;
  flex-direction: column;
  overflow: auto;
  border: 1px solid #c100df;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 2%;
}

.activity {
  font-size: .8em;
  word-spacing: normal;
}

.date {
  font-size: .8em;
  color: #dcdada;
  opacity: .75;
  font-style: italic;
  float: left;
}

/* Toolbox Section */
#toolbox {
  width: 60%;
}

#skill-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin-top: 1%;
}

.skill {
  color: white;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  font-size: .8em;
}

.one {
  background-color: rgba(193, 0, 223, 0.5);
}

.two {
  background-color: rgba(193, 0, 223, 0.625);
}

.three {
  background-color: rgba(193, 0, 223, 0.75);
}

.four {
  background-color: rgba(193, 0, 223, 0.875);
  box-shadow: 0 0 2px 1px rgba(193, 0, 223, 0.5);
}

.five {
  background-color: rgb(193, 0, 223);
  box-shadow: 0 0 3px 2px rgba(193, 0, 223, 0.5);
}

/* Portfolio Section */
#projects {
  margin-top: 5%;
}

#projects-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px 10px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  background-color: #131223;
  justify-content: center;
  border: 1px solid #ffccff;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 1px rgba(115, 108, 115, 0.5);
  max-width: 50vw;
  overflow: hidden;
  position: relative;
}

.project-tile:hover {
  animation: 3s ease-in-out infinite softglow;
}

.project-tile p {
  padding: 0 2%;
}

.project-tile p::after {
  content: "";
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin: 1% auto;
  display: block;
  opacity: .75;
}

.project-img {
  max-height: 375px;
  max-width: auto;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.highlights {
  font-size: .8em;
  color: white;
  text-align: left;
  margin: -2% 1% 2%;
}

.github {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1%;
}

.focus {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #131223;
  opacity: .8;
  z-index: 999;
}

#player {
  position: fixed;
  background-color: #131223;
  border: 1px solid #ffccff;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 1px rgba(115, 108, 115, 0.5);
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  z-index: 1000;
  animation: 10s ease-in-out infinite softglow;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #131223;
  color: #ffccff;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.youtube {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 1%;
  background-color: #131223;
  cursor: pointer;
  border: none;
  font-size: 1em;
  font-family: Georgia, sans-serif;
}

.video {
  aspect-ratio: 16 / 9;
  width: 90%;
  border: none;
}

.tech {
  font-size: .8em;
  color: #ccc;
  opacity: .75;
  font-style: italic;
  margin: 0 auto 1%;
}

/* Contact */
#contact {
  margin: 0 auto;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#icons {
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

#contact i {
  font-size: 3em;
}

/* Screen size rules */
@media only screen and (max-width: 1156px) {
  #about {
    width: 90%;
  }

  .project-tile {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 760px) {
  body {
    font-size: 14px;
    margin-top: 7%;
  }

  #about {
    width: 95%
  }

  #activity-log {
    max-width: 65%;
  }

  #projects-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 10px;
  }

  .project-tile {
    flex-direction: column;
    justify-content: center;
    max-width: 75vw;
  }

  #player {
    width: 75%;
  }

  #contact {
    width: 60%
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    margin-top: 7%;
  }

  #about {
    flex-flow: column wrap;
    width: 100%;
  }

  #bio,
  #extras,
  #toolbox {
    width: 90%;
  }

  .bio-pic {
    max-width: 200px;
  }

  #activity-log {
    max-height: 275px;
    max-width: 100%;
  }

  .highlights {
    margin-left: -2%;
  }

  .tech {
    max-width: 50%;
  }

  #player {
    width: 90%;
  }

  #contact {
    width: 80%;
  }
}

/* Animations */
@keyframes linkfade {
  from {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes underline {
  from {
    border-bottom: 1px solid #ffccff;
    margin: 0 50%;
  }

  to {
    border-bottom: 1px solid #ffccff;
    margin: 0;
  }
}

@keyframes softglow {
  from {
    box-shadow: 2px 3px 3px 1px rgba(115, 108, 115, 0.5);
  }

  50% {
    box-shadow: 3px 3px 5px 3px rgba(255, 204, 255, 0.5), -3px -3px 5px 3px rgba(255, 204, 255, 0.5);
  }

  to {
    box-shadow: 2px 3px 3px 1px rgba(115, 108, 115, 0.5);
  }
}